﻿/* -- CSS Reset Styles -- */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td
{
    font: normal 100% Helvetica, Arial, sans-serif;
	padding: 0;
	margin: 0;
}

html,body { height:100%; }

table
{
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset, img
{
	border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var
{
	font-weight: normal;
	font-style: normal;
}

ol, ul
{
	list-style: none;
}

caption, th
{
	text-align: left;
}

h1, h2, h3, h4, h5, h6
{
	font-weight: normal;
	font-size: 100%;
}

q:before, q:after
{
	content: '';
}

abbr, acronym
{
	border: 0;
}

a 
{ 
	color: inherit; 
}

a, ins 
{
	text-decoration: none;
}

:link, :visited 
{ 
	text-decoration:none; 
}
	
/* -- Generic Layout Styles -- */
/* -- Floating -- */
.mc-ui-float-l
{
	float: left;
}

.mc-ui-float-r
{
	float: right;
}

/* -- Clear Floating -- */
.mc-ui-clear-l
{
	clear: left;
}

.mc-ui-clear-r
{
	clear: right;
}

.mc-ui-clear
{
	clear: both;
}

/* -- Positioning -- */
.mc-ui-posabs
{
	position: absolute;
}

.mc-ui-posabs-tl
{
	position: absolute;
	top: 0px;
	left: 0px;
}

.mc-ui-posabs-tr
{
	position: absolute;
	top: 0px;
	right: 0px;
}

.mc-ui-posrel
{
	position: relative;
}

.mc-ui-posrel-tl
{
	position: relative;
	top: 0px;
	left: 0px;
}

/* -- Sizing and Positioning Styles -- */
/* -- Three column fixed layout for 1030px fixed width content area. -- */
.mc-ui-global-header,
.mc-ui-global-footer
{
	width: 100%;
}

.mc-ui-global-header .mc-ui-header,
.mc-ui-global-footer .mc-ui-footer
{
	width: 1030px;
	margin: 0px auto;
}

.mc-ui-global-content
{
	width: 1030px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0px auto;
}

.mc-ui-global-inner-content
{
	width: 960px;
	padding: 0px 10px 0px 10px;
	margin: 0px auto;
}

.mc-ui-left-col,
.mc-ui-mid-col,
.mc-ui-right-col,
.mc-ui-two-col
{
	float: left;
}

.mc-ui-one-col-block
{
	width: 300px;
	margin: 0px 10px 20px 10px;
}

.mc-ui-two-col-block
{
	width: 620px;
	margin: 0px 10px 20px 10px;
}

.mc-ui-468-col-block
{
	width: 468px;
	margin: 0px 10px 20px 10px;
}

.mc-ui-132-col-block
{
	width: 132px;
	margin: 0px 10px 20px 10px;
}

/* -- Pager Styles -- */
.mc-ui-pager-next 
{
	background: url(/MatchCentreUI/images/mc-ui-pager-next.png) no-repeat 50% 50%;
	display: block;
	width: 30px;
	height: 100%;
	cursor: pointer;
}

.mc-ui-pager-prev
{
	background: url(/MatchCentreUI/images/mc-ui-pager-prev.png) no-repeat 50% 50%;
	display: block;
	width: 30px;
	height: 100%;
	cursor: pointer;
}

/* -- Search Styles -- */
.mc-ui-search-results-widget { font-family: Arial, Helvetica, sans-serif; font-size: 12px; }
.mc-ui-search-results-widget .gsc-control { width : 100%; }
.mc-ui-search-results-widget .gsc-tabsArea { display: none; }
.mc-ui-search-results-widget .gsc-resultsHeader { border: 0px; background-color: #FFFFFF; }
.mc-ui-search-results-widget .gsc-cursor-box { margin: 30px 0 0 0;}
.mc-ui-search-results-widget a.gs-title, .mc-ui-search-results-widget a.gs-title * { text-decoration: none; color: #0051bf; font-weight: bold; }
.mc-ui-search-results-widget a { text-decoration: none; }
.mc-ui-search-results-widget .gs-title a { text-decoration: none; }
.mc-ui-search-results-widget .gs-title { text-decoration: none; border: 0px; background-color: #FFFFFF; }
.mc-ui-search-results-widget .gs-visibleUrl-short { color: #999999; }
