﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="GenericSiteContent.ascx.cs" Inherits="SuperSport.MatchCentre.UI.Mobi.Content.GenericSiteContent" EnableViewState="false" %>
<asp:Literal ID="LiteralSiteContent" runat="server"></asp:Literal>
