﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="GenericContent.ascx.cs" Inherits="SuperSport.MatchCentre.UI.Mobi.Content.GenericContent" EnableViewState="false" %>
<asp:Literal ID="LiteralContent" runat="server"></asp:Literal>