/* GLOBAL ELEMENTS */
body{
	margin:0 0 0 0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
	line-height:15px;
	text-align:left;
}
.floatLeft{float:left;width:100%;}
.floatRight{float:right;}
a, input, button, img { outline:none; border:0;}
a {
	color:#00853e;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
.body_wrapper{width:100%;float:left;}
.titles{width:100%;float:left;}
.padding20{
	padding:20px 0 0 0;
}
.padding10{
	padding:10px 0 0 0;
}
.padding5{
	padding:5px 0 0 0;
}

.padding5 a
{
	padding:5px 0 0 0;
	color: #333333;
	text-decoration: none;
}

.featureselected .padding5{
	padding:5px 0 0 0;
	font-size:12px;
	color:#ffffff;
}

.featureselected .padding5 a{
	padding:5px 0 0 0;
	font-size:12px;
	color:#ffffff;
	text-decoration: none;
}

.padding3{
	padding:3px 0 0 0;
}

.padding3 a
{
	padding:3px 0 0 0;
	color: #333333;
	text-decoration: none;
}

.featureselected .padding3{
	padding:3px 0 0 0;
	font-size:12px;
	color:#ffffff;
}

.featureselected .padding3 a{
	padding:3px 0 0 0;
	font-size:12px;
	color:#ffffff;
	text-decoration: none;
}

.paddingbottom3
{
    padding-top: 3px;
    padding-bottom: 3px;
}

.paddingbottom3 a
{
	padding-top: 3px;
    padding-bottom: 3px;
	color: #333333;
	text-decoration: none;
}

.featureselected .paddingbottom3{
	padding-top: 3px;
    padding-bottom: 3px;
	font-size:12px;
	color:#ffffff;
}

.featureselected .paddingbottom3 a{
	padding-top: 3px;
    padding-bottom: 3px;
	font-size:12px;
	color:#ffffff;
	text-decoration: none;
}

.h1{
	font-size:24px;
	font-weight:bold;
	color:#C09;
}
.h2{
	font-size:16px;
	font-weight:bold;
	color:#004010;
}

.h2 a
{
	font-size:16px;
	font-weight:bold;
	color:#004010;
	text-decoration: none;
}

.featureselected .h2{
	font-size:16px;
	font-weight:bold;
	color:#ffffff;
}

.featureselected .h2 a{
	font-size:16px;
	font-weight:bold;
	color:#ffffff;
	text-decoration: none;
}
.h3{
	font-size:16px;
	font-weight:bold;
	color:#ffffff;
}
.h4{
	font-size:12px;
	color:#ffffff;
}

/* -- start new header -- */
.mc-ui-navigation-widget .ui-widget .ui-widget-content .global_header{
	width:100%;	
}
.mc-ui-navigation-widget .ui-widget .ui-widget-content .global_header .headerContent {
	height:200px;
	background:url(../Images/Boksmart_Header_Image_Slice.jpg) no-repeat top #000;
	margin: 0 auto;
	position: relative;
	overflow:hidden;
}
.mc-ui-navigation-widget .ui-widget .ui-widget-content .global_header .global_nav{
	width:980px;
	height:33px;
	margin: 0 auto;
	width: 100%;
	overflow: visible;
	position: relative;
	background:url(../Images/News_Article_Section_Title_Bar.jpg) repeat-x top;
	z-index:1;
}

div.mc-ui-navigation-widget.ui-widget.ui-widget-content.global_nav UL
{
	margin:auto;
	padding:0;
	list-style-type:none;
	cursor:default;
	width:732px;
}

/* -- end new header -- */

/* -------------------- HEADER -------------------- */
#headContainer{
	position: relative;
	width:980px;
	margin: 0 auto;	
}
.global_header{
	width:100%;	
}
.global_header .headerContent {
	height:200px;
	background:url(../Images/BokSmartHeaderNew.jpg) no-repeat top #000;
	margin: 0 auto;
	position: relative;
	overflow:hidden;
}

/* ----------------- NAV STYLES ------------------- */
.global_header .global_nav{
	width:980px;
	height:33px;
	margin: 0 auto;
	width: 100%;
	overflow: visible;
	position: relative;
	background:url(../Images/News_Article_Section_Title_Bar.jpg) repeat-x top;
	z-index:1;
}

/* -------------------- BODY ELEMENTS BEGIN -------------------- */
.global_wrapper{
	width:980px;
	margin:0 auto;
	position: relative;
	padding: 0;
	padding-top: 5px;
}


/* -------------------- SPINELINE BEGIN -------------------- */
.spineline{
	background:no-repeat center;
	width:550px;
	height:45px;
	margin:0 auto;
	position:relative;
	padding: 0;
}

/*----- BLOCK AND COLUMN LAYOUTS BEGIN --------*/
.block980{
	width:980px;
	margin:0;
	float:left;
	float:right;
}
.block980_bg{
	width:980px;
	margin:0;
	float:left;
}
.block620{
	width:620px;
	margin:0 20px;
	float:left;
	position: relative;
	display:block;
}
.block300_left{
	width:300px;
	float:left;
}
.block300_image{
	width:300px;
	float:left;
}
.block300{
	width:300px;
	margin-left:20px;
	float:right;
}
.block300_right{
	width:300px;
	margin-right:20px;
	float:right;
}

.block320_right{
	width:320px;
	float:right;
}
/*----- BLOCK AND COLUMN LAYOUTS END --------*/

/* ----- BOKSMART FEATURE SECTION BEGIN -----*/
#featureContainer{
	position:relative;
	float:left;
	width:620px;
}

.featureheader{
	background:url(../Images/News_Article_Section_Title_Bar.jpg) repeat-x top;
	height:37px;
	display:block;
	padding-left:10px;
	display:block;
	color:#FFF;
	font-size:24px;
	font-family:Arial;
	text-decoration:none;
	line-height:39px;
}
.featureitem{
	background: url(../Images/featurebg.jpg) repeat-x top;
	display:block;
	border-right:#d1cece solid 1px;	
	padding-left:10px;
    height: 73px;
	padding-bottom: 3px;
    background-color: #eeeeee;    
}
.featurearrow{
	background: url(../Images/Arrow.png) left #339;	
}
.featureselected{
	/*background:#004010;*/
	background: url(../Images/Arrow.png) #004010 left no-repeat;
	display:block;
	border-left:#ffffff solid 1px;
	height: 73px;
	padding-left:15px;
	padding-bottom:3px;
}

.featurefooter{
	width:620px;
	height:30px;
	width:620;
	float:right;
	position: relative;
	display:block;
	background-color:#004010;
	overflow: visible;
}
.featuremore{
	font-size:12px;
	font-style:italic;
	color:#FFF;
	float:right;
	padding-right:10px;
}
.featuremore :hover{
	font-size:12px;
	font-style:italic;
	color:#FFF;
	float:right;
	padding-right:10px;
	text-decoration:underline;
}

/* ----- BOKSMART WORDCLOUD BEGIN -----*/
.cloudBox{
	border:#d1cece solid 1px;
	height:auto;
	padding:10px;
}

.twitterBox .selectbox a{
	border:#d1cece solid 1px;
	height:auto;
	padding:10px;
	color: #00853e;
}

/* ----- NEWS WIDGET BEGIN -----*/
.news {
	
}
.news .header{
	font-size:24px;
	font-weight:normal;
	color:#004010;
	line-height:30px;
	width:300px;
	border-bottom:#d1cece solid 1px;
}
.news .dotted{
	padding-top:5px;
	border-bottom:#d1cece dotted 1px;
}

.news .archive{
	font-size:12px;
	font-style:italic;
	font-weight:bold;
	color:#004010;
	float:right;
}

/* ----- FOOTER BEGIN -----*/

#footerContainer{
	width:980px;
	margin:0;
	float:left;
	float:right;
}
.footersep{
	padding-bottom:10px;
	border-top:#d1cece solid 2px;
}
.footertxt {
	font-size:12px;
	text-align:center;
}
	
/* -- Home Page News -- */
.home-page .mc-ui-news-item-view-container,
.home-page .mc-ui-news-list-container
{
	float: right;
	width: 320px;
	overflow: hidden;
}

.home-page .mc-ui-news-item-view-container
{
	/*
	position: relative;
	height: 246px;
	overflow: hidden;
	*/
}

.home-page .mc-ui-news-item-text-container .mc-ui-news-item-headline
{
	/*
	font-size: 1.1667em;
	line-height: 1.1667em;
	font-weight: bold;
	display: block;
	padding-bottom: 5px;
	*/
	font-size:16px;
	font-weight:bold;
	color:#004010;
}

.home-page .mc-ui-news-item-text-container .mc-ui-news-item-blurb
{
	/*line-height: 1.333em;*/
	padding:5px 0 0 0;
	color: Black;
}

.home-page .mc-ui-news-item-view-container .mc-ui-news-item-text-container
{
	background: transparent url(/images/news_overlay.png);
	color: #ffffff;
	position: absolute;
	bottom: 20px;
	left: 0px;
	width: 270px;
	overflow: hidden;
	padding: 5px;
}

.home-page .mc-ui-news-item-view-container .mc-ui-news-item-text-container .mc-ui-news-item-headline
{
	font-size: 2em;
}

.home-page .mc-ui-news-list-item
{
	background: url(../Images/featurebg.jpg) repeat-x top;
	display:block;
	border-right:#d1cece solid 1px;
	height:60px;
	padding-left:0px;
}

.home-page .mc-ui-news-item-view-container .mc-ui-news-item-text-container .mc-ui-news-item-blurb-ellipsis,
.home-page .mc-ui-news-item-view-container .mc-ui-news-item-text-container .mc-ui-news-item-blurb-break,
.home-page .mc-ui-news-item-category,
.home-page .mc-ui-news-item-category-break,
.home-page .mc-ui-news-item-image-link,
.home-page .mc-ui-news-item-image-break,
.home-page .mc-ui-news-item-headline-break,
.home-page .mc-ui-news-item-datetime,
.home-page .mc-ui-news-item-datetime-break,
.home-page .mc-ui-news-item-goto,
.home-page .mc-ui-news-item-goto-break,
.home-page .mc-ui-news-item-view-container .mc-ui-news-item-headline-ellipsis,
.home-page .mc-ui-news-list-item .mc-ui-news-item-headline-non-ellipsis,
.home-page .mc-ui-news-list-item .mc-ui-news-item-blurb-non-ellipsis
{
	display: none;
	visibility: hidden;
}

.home-page .mc-ui-news-item-view-container .mc-ui-news-item-full-image
{
	width: 100%;
}

.home-page .mc-ui-news-list-item .mc-ui-news-item-full-image-link
{
	position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px);
}

.home-page .mc-ui-news-list-container .mc-ui-news-item-container
{
	padding: 8px 10px 8px 10px;
	width: 285px;
	height: 64px;
	overflow: hidden;
}

.home-page .mc-ui-news-list-container .mc-ui-news-item-container .mc-ui-news-item-text-container
{
	overflow: hidden;
}

.home-page .mc-ui-news-list-container .mc-ui-news-item-container,
.home-page .mc-ui-news-list-container .mc-ui-news-item-container.ui-state-default
{
	background: #f2f2f2;
	border-left: 5px solid #f2f2f2;
}

.home-page .mc-ui-news-list-container .mc-ui-news-item-container.ui-state-active
{
	background: #65af00;
	border-left: 5px solid #ffc728;
	color: #ffffff;
}

.home-page .mc-ui-news-list-container .mc-ui-news-item-image-container,
.home-page .mc-ui-news-list-container .mc-ui-news-item-image-container a
{
	position: relative;
}

/* -- Article Page -- */
.mc-ui-news-article-widget
{
	width:100%;
}

.mc-ui-news-article-widget .mc-ui-news-article-category,
.mc-ui-column-article-widget .mc-ui-news-article-category
{
	display: block;
	width: 595px;
	height: 2px;
	color: #FFFFFF;
	background-color: #FFFFFF;
	margin-bottom: 3px;
	font-size: 1px;
}

.mc-ui-news-article-widget .mc-ui-news-article-headline,
.mc-ui-column-article-widget .mc-ui-news-article-headline
{
	font-size: 1.7em;
	float:left;
	width:100%;
}

.mc-ui-news-article-widget .mc-ui-news-article-timestamp,
.mc-ui-column-article-widget .mc-ui-news-article-timestamp
{
    float:left;
    width:100%;
}

.mc-ui-news-article-widget .mc-ui-news-article-body p,
.mc-ui-column-article-widget .mc-ui-news-article-body p
{
	margin-bottom: 10px;
}

.mc-ui-news-article-widget .mc-ui-news-article-pic-container,
.mc-ui-column-article-widget .mc-ui-news-article-pic-container
{
	display: block;
	float: left; 
	padding: 0px 10px 10px 0px;
	text-align: center;
}

.mc-ui-news-article-widget .mc-ui-news-article-pic,
.mc-ui-column-article-widget .mc-ui-news-article-pic
{
	width: 250px;
}

.mc-ui-news-article-widget .mc-ui-news-article-pic-caption,
.mc-ui-column-article-widget .mc-ui-news-article-pic-caption
{
	font-size: 0.9em;
	color: #808080;
}

.mc-ui-news-article-widget .mc-ui-news-article-category-break,
.mc-ui-news-article-widget .mc-ui-news-article-extra-pic-container,
.mc-ui-news-article-widget .mc-ui-news-article-extra-pic-break,
.mc-ui-column-article-widget .mc-ui-news-article-category-break,
.mc-ui-column-article-widget .mc-ui-news-article-extra-pic-container,
.mc-ui-column-article-widget .mc-ui-news-article-extra-pic-break
{
	display: none;
}

.mc-ui-news-article-widget .mc-ui-news-article-sharing,
.mc-ui-column-article-widget .mc-ui-news-article-sharing
{
	padding: 3px 5px 0px 5px;
	text-align: right;
	/* background: none repeat scroll 0 0 #F2F2F2; */
}

.mc-ui-content-header
{
	font-size:18px;
	font-weight:bold;
	color:#004010;
	padding-bottom: 5px;
}

.boksHeaderWhite
{
	font-size:16px;
	font-weight:bold;
	color:#004010;
	text-decoration: none;
}

.boksHeaderYellow
{
	font-size:16px;
	font-weight:bold;
	color:#ECAD06;
	text-decoration: none;
}

.mc-ui-content-body UL
{
	margin:auto;
	padding-top:5px;
	list-style-type: disc;
	cursor:default;
	width:90%;
}

.mc-ui-content-body LI
{
	list-style-type: disc;
}

div.mc-ui-content-widget
{
	width: 100%;
	padding-top: 10px;
}

.archivenewsitem a:link, .archivenewsitem a:visited, .archivenewsitem a:active {
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    text-decoration: none;
}
.archivenewsitem {
    border-bottom: 1px dotted #CCCCCC;
    cursor: pointer;
    margin-bottom: 4px;
    padding: 0 0 4px;
}

.newsarticledate, .newsarticledate a:link, .newsarticledate a:visited, .newsarticledate a:active {
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    text-decoration: none;
    font-weight: bolder;
}

.newspager, .newspager a:link, .newspager a:visited, .newspager a:active {
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    text-decoration: none;
}

.newsheadline, .newsheadline a:link, .newsheadline a:visited, .newsheadline a:active 
{
    color: #003300;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 20px;
    /* text-decoration: none; */
}

.pageNumber {
    border: 1px solid #CCCCCC;
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    margin: 0;
    padding: 1px;
    text-align: center;
    width: 30px;
}

.btn_grey {
    background-color: #CCCCCC;
    border: 1px solid #000000;
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
}

.newsarchivesmall, .newsarchivesmall a:link, .newsarchivesmall a:visited, .newsarchivesmall a:active {
    color: #003300;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    text-decoration: none;
    float: right;
    vertical-align: bottom;
}

.GalleryListHeader, .GalleryListHeader a {
font-weight: bold;
color: #EDAD03;
background-color: #0F4023;
line-height: 24px;
list-style: none;
width: 100%;
display: block;
float: left;
}

.GalleryListImage {
font-weight: bold;
color: #EDAD03;
/*background-color: #0F4023;*/
line-height: 24px;
list-style: none;
width: 100%;
display: block;
/*float: left; */
}

/* -- Galleries Browsing -- */
.mc-ui-gallery-widget .mc-ui-gallery-item-headline-non-ellipsis,
.mc-ui-gallery-widget .mc-ui-gallery-item-headline-break,
.mc-ui-gallery-widget .mc-ui-gallery-item-datetime,
.mc-ui-gallery-widget .mc-ui-gallery-item-datetime-break,
.mc-ui-gallery-widget .mc-ui-gallery-item-description,
.mc-ui-gallery-widget .mc-ui-gallery-item-description-break
{
	display: none;
}

.mc-ui-gallery-widget .mc-ui-gallery-item
{
	float: left;
	width: 130px;
	height: 130px;
	overflow: hidden;
	margin: 10px 5px 10px 5px;
	position: relative;
}

.mc-ui-gallery-widget .mc-ui-gallery-item img
{
	width: 130px;
}

.mc-ui-gallery-widget .mc-ui-pager-item-container
{
	padding: 0px 30px 0px 30px;
	width: 560px;
}

.mc-ui-gallery-widget .mc-ui-gallery-item-text-container
{
	position: absolute;
	top: 62px;
	left: 0px;
	width: 120px;
	height: 60px;
	padding: 3px 5px 5px 5px;
	overflow: hidden;
	font-size: 0.9em;
	color: #ffffff;
	background: transparent url(../images/news_overlay.png);
}

.mc-ui-gallery-widget .mc-ui-gallery-item-headline
{
	font-weight: bold;
	font-size: 1.1em;
}

.mc-ui-gallery-item-headline-link
{
    color:white;
}

.gallery-page.mc-ui-galleria-widget
{
	height: 500px;
	width: 600px;
	z-index: 999999;
}

.mc-ui-final
{
    /* border: mediumseagreen solid 1px; */
}

.mc-ui-gallery-item-image-link
{
    display: block;
}

/*  YouTube Videos
-----------------------------------*/
div.LatestVideoHeader {
    font-size: 24px;
    font-weight: normal;
    color: #ffffff;
    border-bottom: #D1CECE solid 1px;
    background-color: #004010;
    padding-left: 10px;
    line-height: 36px;    
}

div.BokSmartYouTubeLink {
    background-color: #004010;
    padding: 6px;
    text-align: right;    
}
div.BokSmartYouTubeLink a {
    color: #ffffff !important;
}

/*  Photo Galleries
-----------------------------------*/
div.GalleryTitle {
    font-size: 24px;
    font-weight: normal;
    color: #004010;
    line-height: 30px;
    border-bottom: #D1CECE solid 1px;
}

div.PhotoGalleries {
    
}

div.PhotoGalleries table {
    width: 100%;
}

div.PhotoGalleries table td div.Gallery {
    border: #CCC solid 1px;
    background-color: #F2F2F2;
    margin-left: auto;
    margin-right: auto;
    width: 190px;
    text-align: center;
    margin-bottom: 10px;
}

div.PhotoGalleries table td div.Gallery a,div.PhotoGalleries table td div.Gallery a:hover {
    text-decoration: none;
    color: #004010;
}

div.PhotoGalleries table td div.Gallery img {
    width: 120px;
}

div.PhotoGalleries table td div.Gallery div.Headline {
    height: 50px;
}