@charset "UTF-8";ul.MenuBarHorizontal a:active{display:block;cursor:pointer;color:#FFF;font-size:12px;font-family:Arial;text-decoration:none;}
ul.MenuBarHorizontal a:visited{display:block;cursor:pointer;color:#FFF;font-size:12px;font-family:Arial;text-decoration:none;}
ul.MenuBarHorizontal{margin:auto;padding:0;list-style-type:none;cursor:default;width:732px;}
ul.MenuBarActive{z-index:1000;}
ul.MenuBarHorizontal li{margin:0;padding:0;list-style-type:none;position:relative;text-align:left;cursor:pointer;float:left;border-right:1px solid #267500;border-left:1px solid #4da02a}

ul.MenuBarHorizontal ul{margin:0;padding:0;list-style-type:none;z-index:1020;cursor:default;width:200px;position:absolute;left:-1000em;}
ul.MenuBarHorizontal ul.MenuBarSubmenuVisible{left:auto;}
ul.MenuBarHorizontal ul li{width:200px;}
ul.MenuBarHorizontal ul ul{position:absolute;margin:-5% 0 0 95%;}
ul.MenuBarHorizontal ul.MenuBarSubmenuVisible ul.MenuBarSubmenuVisible{left:auto;top:0;}
ul.MenuBarHorizontal ul{background:#126803;}
ul.MenuBarHorizontal a{display:block;cursor:pointer;color:#FFF;font-size:13px;font-family:Arial;text-decoration:none;}
ul.MenuBarHorizontal a.nav{display:block;cursor:pointer;color:#FFF;font-size:12px;letter-spacing:0px;font-family:Arial;text-decoration:none;padding:9px;}
ul.MenuBarHorizontal a.urlLink{display:block;cursor:pointer;color:#FFF;background:url(file:///Macintosh%20HD/Users/louise/Desktop/DStv.com_files/images/mainover.gif) top repeat-x;font-size:12px;letter-spacing:0px;font-family:Arial;text-decoration:none;padding:9px;}
ul.MenuBarHorizontal a.navDOD{display:block;cursor:pointer;color:#FFF;font-size:12px;letter-spacing:0px;font-family:Arial;text-decoration:none;padding:9px;}
ul.MenuBarHorizontal a.navHome{display:block;cursor:pointer;color:#FFF;font-size:13px;letter-spacing:-0.5px;font-family:Arial;text-decoration:none;padding:9px 9px 5px 9px;border-bottom:4px solid #bebebe;}
ul.MenuBarHorizontal a.navGuide{display:block;cursor:pointer;color:#FFF;font-size:13px;letter-spacing:-0.5px;font-family:Arial;text-decoration:none;padding:9px 9px 5px 9px;border-bottom:4px solid #ecaf26;}
ul.MenuBarHorizontal a.navChnls{display:block;cursor:pointer;color:#FFF;font-size:13px;letter-spacing:-0.5px;font-family:Arial;text-decoration:none;padding:9px 9px 5px 9px;border-bottom:4px solid #cb5209;}
ul.MenuBarHorizontal a.navOnDemand{display:block;cursor:pointer;color:#FFF;font-size:13px;letter-spacing:-0.5px;font-family:Arial;text-decoration:none;padding:9px 9px 5px 9px;border-bottom:4px solid #bc0901;}
ul.MenuBarHorizontal a.navMobile{display:block;cursor:pointer;color:#FFF;font-size:13px;letter-spacing:-0.5px;font-family:Arial;text-decoration:none;padding:9px 9px 5px 9px;border-bottom:4px solid #0978ff;}
ul.MenuBarHorizontal a.navForum{display:block;cursor:pointer;color:#FFF;font-size:13px;letter-spacing:-0.5px;font-family:Arial;text-decoration:none;padding:9px 9px 5px 9px;border-bottom:4px solid #0992af;}
ul.MenuBarHorizontal a.navSales{display:block;cursor:pointer;color:#97dae9;font-size:13px;letter-spacing:-0.5px;font-family:Arial;text-decoration:none;padding:9px 9px 5px 9px;border-bottom:4px solid #3b800f;}
ul.MenuBarHorizontal a.navCare{display:block;cursor:pointer;color:#97dae9;font-size:13px;letter-spacing:-0.5px;font-family:Arial;text-decoration:none;padding:9px 9px 5px 9px;border-bottom:4px solid #77357e;}
ul.MenuBarHorizontal a.navCorp{display:block;cursor:pointer;color:#97dae9;font-size:13px;letter-spacing:-0.5px;font-family:Arial;text-decoration:none;padding:9px 9px 5px 9px;border-bottom:4px solid #bebebe;}
ul.MenuBarHorizontal a:hover{    background-color: #003300;background-repeat: repeat-x;color: #FFFFFF;}
ul.MenuBarHorizontal a.subItem{font-family:Arial;font-size:12px;background-image:url(file:///Macintosh%20HD/Users/louise/Desktop/images/nav_sub_hr.gif);background-repeat:repeat-x;background-position:left bottom;background-color:#3b0902;border-left:1px solid #000;border-right:1px solid #000;padding:5px 10px;font-weight:normal;}
ul.MenuBarHorizontal a:hover.subItem{font-size:12px;background-image:url(file:///Macintosh%20HD/Users/louise/Desktop/images/submenu_h.gif);background-repeat:repeat-x;background-color:#3b0902;background-position:left top;border-left:1px solid #000;border-right:1px solid #000;border-bottom:1px solid #000;padding:5px 10px;font-weight:normal;}
ul.MenuBarHorizontal a.subItemLast{font-family:Arial;font-size:12px;background-image:url(file:///Macintosh%20HD/Users/louise/Desktop/images/nav_sub_hr.gif);background-repeat:repeat-x;background-color:#3b0902;background-position:left bottom;border-bottom:1px solid #000;border-left:1px solid #000;border-right:1px solid #000;padding:5px 10px;font-weight:normal;}
ul.MenuBarHorizontal a:hover.subItemLast{font-size:12px;background-image:url(file:///Macintosh%20HD/Users/louise/Desktop/images/submenu_h.gif);background-repeat:repeat-x;background-color:#3b0902;background-position:left top;border-bottom:1px solid #000;border-left:1px solid #000;border-right:1px solid #000;padding:5px 10px;font-weight:normal;}
ul.MenuBarHorizontal a:hover{ background-color:#003300;background-repeat:repeat-x;color:#fff;text-decoration:none;}
ul.MenuBarHorizontal a.MenuBarItemHover, ul.MenuBarHorizontal a.MenuBarItemSubmenuHover, ul.MenuBarHorizontal a.MenuBarSubmenuVisible{}
ul.MenuBarHorizontal a.MenuBarItemSubmenu{background-image:url(file:///Macintosh%20HD/Users/louise/Desktop/images/nav_hr.gif);background-repeat:no-repeat;background-position:right top;padding-right:20px}
ul.MenuBarHorizontal ul a.MenuBarItemSubmenu{background:url(file:///Macintosh%20HD/Users/louise/Desktop/images/nav_hr.gif);background-repeat:no-repeat;background-position:bottom;background-color:red;}
ul.MenuBarHorizontal a.MenuBarItemSubmenuHover{background-image:url(Images/Primary_Navigation_Bar_(Downstate).jpg);background-repeat:repeat-x;color:#ffffff;text-decoration:none;}
ul.MenuBarHorizontal ul a.MenuBarItemSubmenuHover{background-image:url(file:///Macintosh%20HD/Users/louise/Desktop/images/nav_hover.gif);background-repeat:repeat-x;color:#ffffff;text-decoration:none;}
ul.MenuBarHorizontal iframe{position:absolute;z-index:1010;}
@media screen, projection{ul.MenuBarHorizontal li.MenuBarItemIE{display:inline;float:left;}
}

@charset "UTF-8";div.mc-ui-navigation-widget.ui-widget.ui-widget-content.global_nav UL a:active{display:block;cursor:pointer;color:#FFF;font-size:12px;font-family:Arial;text-decoration:none;}
div.mc-ui-navigation-widget.ui-widget.ui-widget-content.global_nav UL a:visited{display:block;cursor:pointer;color:#FFF;font-size:12px;font-family:Arial;text-decoration:none;}
div.mc-ui-navigation-widget.ui-widget.ui-widget-content.global_nav UL{margin:auto;padding:0;list-style-type:none;cursor:default;width:1030px;}
ul.MenuBarActive{z-index:1000;}
div.mc-ui-navigation-widget.ui-widget.ui-widget-content.global_nav UL li {
    margin:0;
    padding:0;
    list-style-type:none;
    position:relative;
    text-align:left;
    cursor:pointer;
    float:left;
    border-right:1px solid #267500;
    border-left: 1px solid #4da02a;    
}

div.mc-ui-navigation-widget.ui-widget.ui-widget-content.global_nav UL ul {
    margin:0;
    padding:0;
    list-style-type:none;
    z-index:1020;
    cursor:default;
    width:200px;
    position:absolute;
    left:-1000em;
}
div.mc-ui-navigation-widget.ui-widget.ui-widget-content.global_nav UL ul.MenuBarSubmenuVisible{left:auto;}
div.mc-ui-navigation-widget.ui-widget.ui-widget-content.global_nav UL ul li     
{
    background: url(../Images/News_Article_Section_Title_Bar.jpg) repeat-x top;
    background-color: #126803;
    border-right: 1px solid #030;
    border-left: 1px solid #030;   
    width: 99%;
}
div.mc-ui-navigation-widget.ui-widget.ui-widget-content.global_nav UL ul li.mc-ui-separator {
    border-bottom: #030 1px solid;   
}
div.mc-ui-navigation-widget.ui-widget.ui-widget-content.global_nav UL ul li a {
    padding: 5px !important; 
}
div.mc-ui-navigation-widget.ui-widget.ui-widget-content.global_nav UL ul ul{position:absolute;margin:-5% 0 0 95%;}
div.mc-ui-navigation-widget.ui-widget.ui-widget-content.global_nav UL ul.MenuBarSubmenuVisible ul.MenuBarSubmenuVisible{left:auto;top:0;}
div.mc-ui-navigation-widget.ui-widget.ui-widget-content.global_nav UL ul{background:#126803;}
div.mc-ui-navigation-widget.ui-widget.ui-widget-content.global_nav UL a{display:block;cursor:pointer;color:#FFF;font-size:12px;letter-spacing:0px;font-family:Arial;text-decoration:none;padding:9px;}
div.mc-ui-navigation-widget.ui-widget.ui-widget-content.global_nav UL a.urlLink{display:block;cursor:pointer;color:#FFF;background:url(file:///Macintosh%20HD/Users/louise/Desktop/DStv.com_files/images/mainover.gif) top repeat-x;font-size:12px;letter-spacing:0px;font-family:Arial;text-decoration:none;padding:9px;}
div.mc-ui-navigation-widget.ui-widget.ui-widget-content.global_nav UL a.navDOD{display:block;cursor:pointer;color:#FFF;font-size:12px;letter-spacing:0px;font-family:Arial;text-decoration:none;padding:9px;}
div.mc-ui-navigation-widget.ui-widget.ui-widget-content.global_nav UL a.navHome{display:block;cursor:pointer;color:#FFF;font-size:13px;letter-spacing:-0.5px;font-family:Arial;text-decoration:none;padding:9px 9px 5px 9px;border-bottom:4px solid #bebebe;}
div.mc-ui-navigation-widget.ui-widget.ui-widget-content.global_nav UL a.navGuide{display:block;cursor:pointer;color:#FFF;font-size:13px;letter-spacing:-0.5px;font-family:Arial;text-decoration:none;padding:9px 9px 5px 9px;border-bottom:4px solid #ecaf26;}
div.mc-ui-navigation-widget.ui-widget.ui-widget-content.global_nav UL a.navChnls{display:block;cursor:pointer;color:#FFF;font-size:13px;letter-spacing:-0.5px;font-family:Arial;text-decoration:none;padding:9px 9px 5px 9px;border-bottom:4px solid #cb5209;}
div.mc-ui-navigation-widget.ui-widget.ui-widget-content.global_nav UL a.navOnDemand{display:block;cursor:pointer;color:#FFF;font-size:13px;letter-spacing:-0.5px;font-family:Arial;text-decoration:none;padding:9px 9px 5px 9px;border-bottom:4px solid #bc0901;}
div.mc-ui-navigation-widget.ui-widget.ui-widget-content.global_nav UL a.navMobile{display:block;cursor:pointer;color:#FFF;font-size:13px;letter-spacing:-0.5px;font-family:Arial;text-decoration:none;padding:9px 9px 5px 9px;border-bottom:4px solid #0978ff;}
div.mc-ui-navigation-widget.ui-widget.ui-widget-content.global_nav UL a.navForum{display:block;cursor:pointer;color:#FFF;font-size:13px;letter-spacing:-0.5px;font-family:Arial;text-decoration:none;padding:9px 9px 5px 9px;border-bottom:4px solid #0992af;}
div.mc-ui-navigation-widget.ui-widget.ui-widget-content.global_nav UL a.navSales{display:block;cursor:pointer;color:#97dae9;font-size:13px;letter-spacing:-0.5px;font-family:Arial;text-decoration:none;padding:9px 9px 5px 9px;border-bottom:4px solid #3b800f;}
div.mc-ui-navigation-widget.ui-widget.ui-widget-content.global_nav UL a.navCare{display:block;cursor:pointer;color:#97dae9;font-size:13px;letter-spacing:-0.5px;font-family:Arial;text-decoration:none;padding:9px 9px 5px 9px;border-bottom:4px solid #77357e;}
div.mc-ui-navigation-widget.ui-widget.ui-widget-content.global_nav UL a.navCorp{display:block;cursor:pointer;color:#97dae9;font-size:13px;letter-spacing:-0.5px;font-family:Arial;text-decoration:none;padding:9px 9px 5px 9px;border-bottom:4px solid #bebebe;}
div.mc-ui-navigation-widget.ui-widget.ui-widget-content.global_nav UL a:hover{    background-color: #003300;background-repeat: repeat-x;color: #FFFFFF;}
div.mc-ui-navigation-widget.ui-widget.ui-widget-content.global_nav UL a.subItem{font-family:Arial;font-size:12px;background-image:url(file:///Macintosh%20HD/Users/louise/Desktop/images/nav_sub_hr.gif);background-repeat:repeat-x;background-position:left bottom;background-color:#3b0902;border-left:1px solid #000;border-right:1px solid #000;padding:5px 10px;font-weight:normal;}
div.mc-ui-navigation-widget.ui-widget.ui-widget-content.global_nav UL a:hover.subItem{font-size:12px;background-image:url(file:///Macintosh%20HD/Users/louise/Desktop/images/submenu_h.gif);background-repeat:repeat-x;background-color:#3b0902;background-position:left top;border-left:1px solid #000;border-right:1px solid #000;border-bottom:1px solid #000;padding:5px 10px;font-weight:normal;}
div.mc-ui-navigation-widget.ui-widget.ui-widget-content.global_nav UL a.subItemLast{font-family:Arial;font-size:12px;background-image:url(file:///Macintosh%20HD/Users/louise/Desktop/images/nav_sub_hr.gif);background-repeat:repeat-x;background-color:#3b0902;background-position:left bottom;border-bottom:1px solid #000;border-left:1px solid #000;border-right:1px solid #000;padding:5px 10px;font-weight:normal;}
div.mc-ui-navigation-widget.ui-widget.ui-widget-content.global_nav UL a:hover.subItemLast{font-size:12px;background-image:url(file:///Macintosh%20HD/Users/louise/Desktop/images/submenu_h.gif);background-repeat:repeat-x;background-color:#3b0902;background-position:left top;border-bottom:1px solid #000;border-left:1px solid #000;border-right:1px solid #000;padding:5px 10px;font-weight:normal;}
div.mc-ui-navigation-widget.ui-widget.ui-widget-content.global_nav UL a:hover{ background-color:#003300;background-repeat:repeat-x;color:#fff;text-decoration:none;}
div.mc-ui-navigation-widget.ui-widget.ui-widget-content.global_nav UL a.MenuBarItemHover, div.mc-ui-navigation-widget.ui-widget.ui-widget-content.global_nav UL a.MenuBarItemSubmenuHover, div.mc-ui-navigation-widget.ui-widget.ui-widget-content.global_nav UL a.MenuBarSubmenuVisible{}
div.mc-ui-navigation-widget.ui-widget.ui-widget-content.global_nav UL a.MenuBarItemSubmenu{background-image:url(file:///Macintosh%20HD/Users/louise/Desktop/images/nav_hr.gif);background-repeat:no-repeat;background-position:right top;padding-right:20px}
div.mc-ui-navigation-widget.ui-widget.ui-widget-content.global_nav UL a.MenuBarItemSubmenu{background:url(file:///Macintosh%20HD/Users/louise/Desktop/images/nav_hr.gif);background-repeat:no-repeat;background-position:bottom;background-color:red;}
div.mc-ui-navigation-widget.ui-widget.ui-widget-content.global_nav UL a.MenuBarItemSubmenuHover{background-image:url(Images/Primary_Navigation_Bar_(Downstate).jpg);background-repeat:repeat-x;color:#ffffff;text-decoration:none;}
div.mc-ui-navigation-widget.ui-widget.ui-widget-content.global_nav UL ul a.MenuBarItemSubmenuHover{background-image:url(file:///Macintosh%20HD/Users/louise/Desktop/images/nav_hover.gif);background-repeat:repeat-x;color:#ffffff;text-decoration:none;}
div.mc-ui-navigation-widget.ui-widget.ui-widget-content.global_nav UL iframe{position:absolute;z-index:1010;}
@media screen, projection{div.mc-ui-navigation-widget.ui-widget.ui-widget-content.global_nav UL li.MenuBarItemIE{display:inline;float:left;}
}